.App {
  text-align: center;
}

.base-color {
  background-color: #82b74b;
}

.text-color{
  color: #82b74b;
}

.navbar {
  height: 60px;
  background-color: #f8f8f8;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  font-size: 30px;
  color: #353535;
  margin-bottom: 20px;
}

input {
  height: 25px;
  width: 200px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #353535;
  margin: 10px;
  padding: 3px;
}

.my-list {
  font-size: 20px;
  color: #353535;
  text-decoration: none;
}


.my-list span {
  /* font-size: 15px; */
  color: #000;
}

button {
  height: 40px;
  width: 105px;
  color: #fff;
  border-radius: 5px;
  font-size: 21px;
  border-style: none;
  cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
